<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-title>Täiendav analüüs / kliendisisend</ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
<br>  
<div class="tekstselgit">  
Täiendava sisendi pinnalt tehtud analüüs
</div>
<br>
<div class="tekstselgit2">  
Käesoleval leheküljel on võimalik näha analüüsi, mis lähtub ühelt poolt sellest, mida masinõppe mudelid on ettevõtte kohta arvanud ja sellele on lisatud need elemendid/sisendid, mida kasutajapoolselt on süsteemi sisestatud. </div>
<br>
<br>
<br>
<matrix-play></matrix-play>

<br>
<br>
<matrix-flashcard></matrix-flashcard>

</ion-content>